In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"Housing_Data.csv")

In [3]:
df

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,543,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,544,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,545,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,546,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [7]:
df.shape

(546, 13)

In [10]:
df=df.drop(['Unnamed: 0'],axis=1)

In [11]:
df.shape

(546, 12)

In [12]:
df.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [13]:
df.describe()

,price,lotsize,bedrooms,bathrms,stories,garagepl
count,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000
mean,68121.597070,5150.265568,2.965201,1.285714,1.807692,0.692308
std,26702.670926,2168.158725,0.737388,0.502158,0.868203,0.861307
min,25000.000000,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,49125.000000,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,62000.000000,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,82000.000000,6360.000000,3.000000,2.000000,2.000000,1.000000
max,190000.000000,16200.000000,6.000000,4.000000,4.000000,3.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   price     546 non-null    float64
 1   lotsize   546 non-null    int64
 2   bedrooms  546 non-null    int64
 3   bathrms   546 non-null    int64
 4   stories   546 non-null    int64
 5   driveway  546 non-null    object
 6   recroom   546 non-null    object
 7   fullbase  546 non-null    object
 8   gashw     546 non-null    object
 9   airco     546 non-null    object
 10  garagepl  546 non-null    int64
 11  prefarea  546 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 51.3+ KB

In [15]:
df.select_dtypes(exclude=object).columns

Index(['price', 'lotsize', 'bedrooms', 'bathrms', 'stories', 'garagepl'], dtype='object')

In [16]:
obj_col=list(df.select_dtypes(include=object).columns)
obj_col

['driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'prefarea']

In [18]:
for i in obj_col:
    print(df[i].value_counts())

yes    469
no      77
Name: driveway, dtype: int64
no     449
yes     97
Name: recroom, dtype: int64
no     355
yes    191
Name: fullbase, dtype: int64
no     521
yes     25
Name: gashw, dtype: int64
no     373
yes    173
Name: airco, dtype: int64
no     418
yes    128
Name: prefarea, dtype: int64

In [19]:
df=pd.get_dummies(data=df,columns=obj_col,drop_first=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         546 non-null    float64
 1   lotsize       546 non-null    int64
 2   bedrooms      546 non-null    int64
 3   bathrms       546 non-null    int64
 4   stories       546 non-null    int64
 5   garagepl      546 non-null    int64
 6   driveway_yes  546 non-null    uint8
 7   recroom_yes   546 non-null    uint8
 8   fullbase_yes  546 non-null    uint8
 9   gashw_yes     546 non-null    uint8
 10  airco_yes     546 non-null    uint8
 11  prefarea_yes  546 non-null    uint8
dtypes: float64(1), int64(5), uint8(6)
memory usage: 28.9 KB

In [21]:
df.head()

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,42000.0,5850,3,1,2,1,1,0,1,0,0,0
1,38500.0,4000,2,1,1,0,1,0,0,0,0,0
2,49500.0,3060,3,1,1,0,1,0,0,0,0,0
3,60500.0,6650,3,1,2,0,1,1,0,0,0,0
4,61000.0,6360,2,1,1,0,1,0,0,0,0,0

In [22]:
df.isna().sum()*100/546  #optional

price           0.0
lotsize         0.0
bedrooms        0.0
bathrms         0.0
stories         0.0
garagepl        0.0
driveway_yes    0.0
recroom_yes     0.0
fullbase_yes    0.0
gashw_yes       0.0
airco_yes       0.0
prefarea_yes    0.0
dtype: float64

In [23]:
y=df['price']

In [25]:
y.shape

(546,)

In [26]:
x=df.drop('price',axis=1)

In [27]:
x.head()

,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,5850,3,1,2,1,1,0,1,0,0,0
1,4000,2,1,1,0,1,0,0,0,0,0
2,3060,3,1,1,0,1,0,0,0,0,0
3,6650,3,1,2,0,1,1,0,0,0,0
4,6360,2,1,1,0,1,0,0,0,0,0

In [28]:
y=y.values.reshape(len(y),1)

In [30]:
type(x)

pandas.core.frame.DataFrame

In [31]:
x=x.values.reshape(x.shape[0],x.shape[1])

In [32]:
type(x)

numpy.ndarray

In [51]:
def h(x,theta,b):#hypothesis function
    return np.matmul(x,theta)

In [52]:
def cost_function(x, y, theta,b):#cost function
    return ((h(x,theta,b)-y).T@(h(x,theta,b)-y))/(2*y.shape[0])

In [53]:
def gradient_descent(x,y,theta,b,learning_rate,num_epochs):
    m = x.shape[0]
    J_all = []

    for _ in range(num_epochs):
        h_x = h(x, theta,b)
        cost1d = (1/m)*(x.T@(h_x - y))#theta1 respect
        cost0d=(1/m)*((h_x - y))#theta0 respect
        theta = theta - (learning_rate)*cost1d
        b=b-learning_rate*cost0d
        J_all.append(cost_function(x, y, theta,b))
#     cost = np.squeeze(J_all) 
    return theta,b,J_all

In [54]:
theta=np.zeros((x.shape[1],1))
b=0
learning_rate=0.01 #manually
num_epochs=5000 #manually
theta,b,J_all=gradient_descent(x,y,theta,b,learning_rate,num_epochs)
cost_fun=cost_function(x,y,theta,b)
print(cost_fun)
print(theta)
# print(b)

C:\Users\vivek\AppData\Local\Temp/ipykernel_31188/4005674617.py:2: RuntimeWarning: overflow encountered in matmul
  return ((h(x,theta,b)-y).T@(h(x,theta,b)-y))/(2*y.shape[0])
C:\Users\vivek\AppData\Local\Temp/ipykernel_31188/2838207943.py:7: RuntimeWarning: overflow encountered in matmul
  cost1d = (1/m)*(x.T@(h_x - y))#theta1 respect
C:\Users\vivek\AppData\Local\Temp/ipykernel_31188/1236230791.py:2: RuntimeWarning: invalid value encountered in matmul
  return np.matmul(x,theta)

[[nan]]
[[nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]]